<table class="table">
  <tr>
    <td><strong>标题:</strong></td>
    <td><%= @subject.title %></td>
  </tr>
  <tr>
    <td><strong>备注:</strong></td>
    <td><%= @subject.remark %></td>
  </tr>
  <tr>
    <td><strong>教师:</strong></td>
    <td><%= @subject.mentor %></td>
  </tr>
</table>
<br>
<%= link_to '编辑', edit_subject_path(@subject),:class => "btn btn-info" %>
<%= link_to '返回', subjects_path,:class => "btn" %>

<%= link_to '导出模板', export_question_path, :class=>"btn" %>
<%= render 'import' %>
<br>
<table id="datatable" class="table">
  <thead>
    <tr>
      <th width="10px">序号</th>
      <th width="240px">题目名称</th>
      <th width="40px">题目类型</th>
      <th width="100px">介绍</th>
      <th width="220px">选项</th>
      <th>难度系数</th>
      <th>最近更新时间</th>
      <th>提供者</th>
      <th colspan="3" width="80px"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each_with_index do |question,index| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= serial(params[:page], index)%></td>
        <td><%= truncate question.title,length:29 %></td>
        <td><%= qtype_level question.qtype%></td>
        <td><%= question.description %></td>
        <td><%= truncate question.options,length:48 %></td>
        <td><%= difficulty_level question.difficulty %></td>
        <td><%= question.updated_at.strftime("%Y-%m-%d") %></td>
        <td><%= question.teacher.name if question.teacher %></td>
        <td><%= link_to '详情', question,remote: true %></td>

        <% if @edit_or_delete_right %>
        <td><%= link_to '编辑', edit_question_path(question) %></td>
        <td><%= link_to '删除', question, method: :delete, data: { confirm: '确认删除?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
  <%= will_paginate @questions%>

